.carousel-caption{
position:relative;
top:30%;
transform: translateX(-20%);

}

.carousel-inner{
max-height: 400px;
}


.carousel-indicators button{
    border-radius: 300px;
}



.crausel-desc-text{
font-size: calc(0.9vw + 5px);
text-align:center ;

}