@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
.icon1-media{
    height:69px;
    width: 69px;
    border-radius: 4px;
    text-align: center;
    

}
.icon2-media{
    height:69px;
    width: 69px;
    border-radius: 4px;
    text-align: center;
    background-color: blue;
    

}

.resmin-yani{
    font-family: 'Raleway', sans-serif;
}