.header__logo{
    height: 50px;
    object-fit: contain;
}

.header__option{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right:10px;
    justify-content: end;
}

.header__line2{
    font-weight: bold;
    font-size: 15px;
}

.header__line1{
    font-size:13px;
}

.header__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: right;
}

.header__link:hover {
  text-decoration: none;
  background-color:grey;
  color: blue;
}